

<template>
    <div class="mt-5">
    <v-col cols="12" md="6" class="mx-auto">
    <v-card id="jumbo" >
      <v-container fill-height>
        <v-layout align-center>
          <v-flex>
            <h3 class="display-3">Bienvenue dans notre bibliothèque de film</h3>
    
            <v-divider class="my-3"></v-divider>
  
            <div class="title mb-3">Choisissez votre film...</div>
  
            <v-btn class="mx-0 mr-3 text-decoration-none white--text" color="warning" large to='/movie'>See Movies</v-btn>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card>
    </v-col>
    </div>
</template>
<script>
export default {
  
}
</script>

<style>
#jumbo {
    background:url("https://cdn.vuetifyjs.com/images/backgrounds/vbanner.jpg");
    text-align:center;
    color:white;

}
</style>
