<template>
<body>
        <hr>
    <div id="app">
        <div style="text-align: center" class="mt-8 mb-4">
            <v-row>
                <v-col cols="12" md="2" class="mx-auto">
                    <v-text-field class="mb-0 pb-0"  label="Recherche" outlined placeholder="La grande vadrouille" v-model="search"  background-color="white"></v-text-field>
                </v-col>
            </v-row>   
        </div>
    
        <v-row class="mt-4">
        <div v-for="m in shared_data.movies" v-bind:key="m">
        <v-card v-if="search_input(m)"  class="ml-10 mb-5" width="400" outlined style="background:url('https://cdn.vuetifyjs.com/images/backgrounds/vbanner.jpg');">
                <MovieItem  v-bind:m="m" v-on:show="show_movie" v-on:save="save_movie"></MovieItem>
            </v-card></div>
        </v-row>
    </div>
    <div>
        <p style="text-align: right">
            <span class=" black white--text mr-5 pt-3 pb-3 pl-3 pr-3 rounded-tl-xl" style="font-weight: bold; background:url('https://cdn.vuetifyjs.com/images/backgrounds/vbanner.jpg');">{{totalmovie}} Films</span>
        </p>
    </div>
</body>

</template>
<script>

import MovieItem from './MovieItem.vue'

export default {
  name: 'Movie',
  components: {
    MovieItem,
  },
  data() {
    return {
            counter: 0,
            search: "",
            shared_data : window.shared_data  
        };
  },
    methods: {
            search_input(m) {
                this.search = this.search.toLowerCase();
                return m.title.includes(this.search)||m.details.director.toLowerCase().includes(this.search)||m.years.includes(this.search);
            }
        },
        computed: {
            totalmovie: function() {
                return this.shared_data.movies.length;
            },
        }
}
</script>

