<template>
    <div class="mt-10 text-center">
     <v-row >
            <v-col cols="12" md="2" class="white mx-auto">
            <h3 class="white black--text mb-0 mb-4 overline text-center">Update Movie</h3>
             </v-col>
             </v-row>
            <div v-for="m in shared_data.movies"  v-bind:key="m" >
            <v-row v-if= "m.id === id">
                <v-col cols="12" md="2" class="white--text mx-auto" style="background:url('https://cdn.vuetifyjs.com/images/backgrounds/vbanner.jpg');">
                <span>Titre</span>
                <v-text-field  class="" v-model="m.title" outlined dark ></v-text-field>
                <span>Année Film</span>
                <v-text-field  v-model="m.years" outlined dark></v-text-field> 
                <span>Langue</span>
                <v-text-field v-model="m.language" outlined dark></v-text-field>                
                </v-col>
            </v-row>
            </div>
            <v-row >
                <v-col cols="12" md="2" class="white mx-auto">
                    <v-btn :to="{ name: 'movie', params: { id: id }}" class=" primary white--text text-decoration-none">Save</v-btn>
                </v-col>
            </v-row>



    </div>
</template>

<script>

export default {
    name: 'MovieUpdate',
    data () {
            return {
                shared_data : window.shared_data
            }
        },
        created() {
            this.id = this.$route.params.id
        },
}
</script>