<template>
    <div class="mt-10 text-center">
     <v-row >
            <v-col cols="12" md="2" class="white mx-auto">
            <h3 class="white black--text mb-0 mb-4 overline text-center">Note Movie</h3>
             </v-col>
             </v-row>
            <div v-for="m in shared_data.movies"  v-bind:key="m">
            <v-row v-if= "m.id === id">
                <v-col cols="12" md="2" class="white--text mx-auto" style="background:url('https://cdn.vuetifyjs.com/images/backgrounds/vbanner.jpg');">
                    <p class="overline text-center" style="font-weight: bold">{{ m.title }} - {{ m.years }}</p>
                </v-col>
            </v-row>
            </div>
            <v-row >
                <v-col cols="12" md="2" class="mx-auto" style="background:url('https://cdn.vuetifyjs.com/images/backgrounds/vbanner.jpg');">
                <div>
                    <input type="radio" id="1" name="drone" value="1" checked v-model="note">
                    <label for="1">1</label>
                </div>
                <div>
                    <input type="radio" id="2" name="drone" value="2" v-model="note">
                    <label for="2">2</label>
                </div>
                <div>
                    <input type="radio" id="3" name="drone" value="3" v-model="note">
                    <label for="3">3</label>
                </div>
                <div>
                    <input type="radio" id="4" name="drone" value="4" v-model="note">
                    <label for="4">4</label>
                </div>
                <div>
                    <input type="radio" id="5" name="drone" value="5" v-model="note">
                    <label for="5">5</label>
                </div>
                    <br>
                    <v-btn @click.native="note_movie()" :to="{ name: 'movie', params: { id: id }}" class=" primary white--text text-decoration-none">NOTE</v-btn>
                </v-col>
            </v-row>



    </div>
</template>

<script>

export default {
    name: 'MovieNote',
    data () {
            return {
                shared_data : window.shared_data,
                note:""
            }
        },
        created() {
            this.id = this.$route.params.id
        },
       methods: {
                note_movie: function() {
                    if (this.note != ""){
                        this.shared_data.movies.forEach((element) => {
                            if (element.id === this.id) {
                                element.note.push(this.note)
                            }
                    });
                    }
                    
                }
    } 
}
</script>

<style>

label {
    color:white;
    margin-left:1em;
}
</style>