<template>
   <div>
   <v-list-item class="white--text">
        <v-list-item-content class="white--text">
          <div class="overline mb-4">{{ m.title }} - {{ m.years }}</div>
        </v-list-item-content>
  
        <v-list-item-avatar tile height="112" width="75" >
            <v-img :src="m.poster"></v-img>
        </v-list-item-avatar>
      </v-list-item>
       <hr>
      <v-card-actions style="justify-content: center;">
        <v-btn :to="{ name: 'movie', params: { id: m.id }}">SHOW MORE</v-btn>
      </v-card-actions>
</div>
</template>
<script>
export default {
  name: 'MovieItem',
  props:['m'],
  data() {
      return {
        shared_data : window.shared_data
        }
}
}
</script>
