<template>
    <v-card class="mx-auto white--text mt-10" max-width="800" style="background:url('https://cdn.vuetifyjs.com/images/backgrounds/vbanner.jpg');">
    <v-row>
            <v-col>
            <h3 class="white black--text mb-0 mb-4 overline text-center">Show Movie</h3>
             </v-col>
             </v-row>
            <div v-for="m in shared_data.movies"  v-bind:key="m" >
            <div v-if= "m.id === id">
                <v-list-item class="" style="justify-content:center">
                    <v-list-item-avatar tile  height="225" width="150">
                        <v-img :src="m.poster"></v-img>
                    </v-list-item-avatar>
                </v-list-item>
                <p class="overline text-center" style="font-weight: bold">{{ m.title }} - {{ m.years }}</p>
                <hr class="white">
                <v-col class="ml-2">
                <p><span style="font-weight: bold;">Langue : </span> {{m.language}} </p>
                <p><span style="font-weight: bold;">Réalisateur : </span> {{m.details.director}} </p>
                <p><span style="font-weight: bold;">Date de naissance : </span>{{m.details.date_of_birth}}</p>
                <p><span style="font-weight: bold;">Nationalité : </span> {{m.details.nationality}}</p>
                <p><span style="font-weight: bold;">Genre : </span>  {{m.type}} </p>
                <p><span style="font-weight: bold;">Synopsis : </span>  {{m.details.synopsis}}</p>
                <div v-if="m.note.length > 0">
                <div v-for="note in m.note" v-bind:key="note">
                <p><span style="font-weight: bold;">Note : </span>  {{note}} / 5</p>               
                </div>  
                </div>         
                </v-col>     
                <v-col class="text-center " >
                <v-btn :to="{ name: 'edit', params: { id: m.id }}" class="warning text-decoration-none mr-3" >UPDATE</v-btn>
                <v-btn @click.native="delete_movie(m)" to='/movie' class="red text-decoration-none mr-3" >DELETE</v-btn>
                <v-btn :to="{ name: 'note', params: { id: m.id }}" class="text-decoration-none mr-3" >NOTE</v-btn>
                    <v-btn to='/movie' class="primary white--text text-decoration-none">GO BACK</v-btn>
                </v-col>
            </div>
            </div>
            
    </v-card>   
</template>
<script>
export default {
    name: 'ShowMore',
    data () {
            return {
                shared_data : window.shared_data
            }
        },
        created() {
            this.id = this.$route.params.id
        },
    methods: {
            delete_movie: function(m) {
                this.shared_data.movies.splice(this.shared_data.movies.indexOf(m), 1);
            },
        },    
}
</script>
