<template>
 
  <div id="app">
  <v-app> 
    <v-card color="white"
      flat
      height="50px"
      tile>
      <v-toolbar src="https://cdn.vuetifyjs.com/images/backgrounds/vbanner.jpg">
        <v-app-bar-nav-icon></v-app-bar-nav-icon>
        <v-toolbar-title class="white--text mr-3 pr-3"><router-link to='/' class="text-decoration-none white--text">Home</router-link></v-toolbar-title>
        <v-toolbar-title class="white--text pl-3 pr-3"><router-link to='/movie' class="text-decoration-none white--text">Movies</router-link></v-toolbar-title>
        </v-toolbar>
    </v-card>
    <router-view />
  </v-app>
  </div>
  
</template>

<script>
export default {
  
  data() {
    return {
        };
  }
}
</script>

<style>
    #app {
        background-image:url("../public/background_mur.jpg");
    }
</style>